---
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<nav class="nav">
  <a href={`${base}/`} style="text-decoration: none;">Missional by Design</a>
  <ul class="nav-links">
    <li><a href={`${base}/framework`}>Framework</a></li>
    <li><a href={`${base}/ministry-model-canvas`}>Canvas</a></li>
    <li><a href={`${base}/blog`}>Writing</a></li>
    <li><a href={`${base}/about`}>About</a></li>
  </ul>
</nav>
